include header 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="contact.css")
        title Contact
    body 
    div#form
        h1 Contactez nous
        form(action="", method="post") 
            label(for="") nom: 
            input#nom(type="text", name="")
            label(for="") message:  
            input#message(type="text", name="")
            button Envoyer
    