doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 ERREUR !!!. Le site est actuellement fermé.
    h1  Site disponible du Lundi au Vendredi de 09h à 17h.
        style body{background-color:blanchedalmond;}